<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DynamicsI" connectionString="AuthType=Office365;Username=admin@Logistics573.onmicrosoft.com;Password=$enha123;Url=https://org1d0bd560.crm2.dynamics.com;AppId=cac798d8-1560-4b66-8004-efb6c3058f06;"/>
    <add name="DynamicsII" connectionString="AuthType=Office365;Username=admin@Logistics573.onmicrosoft.com;Password=$enha123;Url=https://org4847cb57.crm2.dynamics.com;AppId=cac798d8-1560-4b66-8004-efb6c3058f06;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.7" newVersion="6.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>